<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name ="Test Suite" verbose= "2">

<test name ="Test Case">
<parameter name = "username" value = "Admin"/>
<parameter name = "password" value = "admin123"/>
<classes>
<class name ="testNG.ParameterAnnotation"></class>
</classes>
</test>


</suite>